---
Language:        Cpp
BasedOnStyle:  WebKit
AlignAfterOpenBracket: Align
AlignConsecutiveBitFields: Consecutive
AlignOperands:   Align
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterFunction:   false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakInheritanceList: AfterColon
ColumnLimit:     120
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeIsMainRegex: '$'
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: None
SpaceInEmptyBlock: false
Standard:        c++14
TabWidth:        4
...

